In [1]:
!pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\harsi\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in c:\users\harsi\anaconda3\lib\site-packages (9.5.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\harsi\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\harsi\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [7]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "mysql+mysqlconnector://root:YOUR_PASSWORD@localhost:3306/retail_sales_inventory"
)

In [9]:
orders = pd.read_sql("SELECT * FROM orders", engine)
products = pd.read_sql("SELECT * FROM products", engine)
categories = pd.read_sql("SELECT * FROM categories", engine)
inventory = pd.read_sql("SELECT * FROM inventory", engine)

In [11]:
orders = pd.read_sql("SELECT * FROM orders", engine)
orders.head()

   order_id  order_date  product_id  quantity_sold  sales_amount
0         1  2025-01-01         101              2        1800.0
1         2  2025-01-03         102              3        1800.0
2         3  2025-01-05         103              5         125.0
3         4  2025-01-07         104              2         120.0
4         5  2025-01-10         105              4         160.0

In [13]:
orders["order_date"] = pd.to_datetime(orders["order_date"])

df = orders.merge(products, on="product_id", how="left")
df = df.merge(categories, on="category_id", how="left")
df = df.merge(inventory, on="product_id", how="left")

df.head()

,order_id,order_date,product_id,quantity_sold,sales_amount,product_name,category_id,unit_price,category_name,stock_quantity,reorder_level
0,1,2025-01-01,101,2,1800.0,Laptop,1,900.0,Electronics,15,10
1,2,2025-01-03,102,3,1800.0,Smartphone,1,600.0,Electronics,8,10
2,3,2025-01-05,103,5,125.0,T-Shirt,2,25.0,Clothing,50,20
3,4,2025-01-07,104,2,120.0,Jeans,2,60.0,Clothing,30,15
4,5,2025-01-10,105,4,160.0,Rice Bag,3,40.0,Grocery,5,10

In [15]:
df["profit"] = df["sales_amount"] * 0.30
df["profit_margin"] = (df["profit"] / df["sales_amount"]) * 100

In [17]:
df["inventory_status"] = df.apply(
    lambda x: "Low Stock" if x["stock_quantity"] < x["reorder_level"] else "OK",
    axis=1
)

In [19]:
df["order_month"] = df["order_date"].dt.strftime("%Y-%m")

In [21]:
df.head()

,order_id,order_date,product_id,quantity_sold,sales_amount,product_name,category_id,unit_price,category_name,stock_quantity,reorder_level,profit,profit_margin,inventory_status,order_month
0,1,2025-01-01,101,2,1800.0,Laptop,1,900.0,Electronics,15,10,540.0,30.0,OK,2025-01
1,2,2025-01-03,102,3,1800.0,Smartphone,1,600.0,Electronics,8,10,540.0,30.0,Low Stock,2025-01
2,3,2025-01-05,103,5,125.0,T-Shirt,2,25.0,Clothing,50,20,37.5,30.0,OK,2025-01
3,4,2025-01-07,104,2,120.0,Jeans,2,60.0,Clothing,30,15,36.0,30.0,OK,2025-01
4,5,2025-01-10,105,4,160.0,Rice Bag,3,40.0,Grocery,5,10,48.0,30.0,Low Stock,2025-01

In [23]:
df.to_csv("../data/cleaned/retail_sales_cleaned.csv", index=False)